@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutCustomer";
}

<div class="container">
    <table id="myTable1" class="display">
        <thead>
            <tr>
                <th>Ngày Đặt</th>
                <th></th>
                <th>Tên</th>
                <th></th>
                <th>Đơn giá</th>
              

                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
